<html>
    <link href="/desktop/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Egyptian Rat Screw</title>
    </head>
    <body>
        <canvas id="gameCanvas" width="1600" width="900"></canvas>

        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/desktop/js/model/Card.js" type="text/javascript" charset="utf-8"></script>
        <script src="/desktop/js/model/Deck.js" type="text/javascript" charset="utf-8"></script>
        <script src="/desktop/js/model/Board.js" type="text/javascript" charset="utf-8"></script>
        <script src="/desktop/js/model/Player.js" type="text/javascript" charset="utf-8"></script>
        <script src="/desktop/js/model/ERS.js" type="text/javascript" charset="utf-8"></script>
        <script src="/desktop/js/view/Render.js" type="text/javascript" charset="utf-8"></script>
        <script src="/desktop/js/controller/Main.js" type="text/javascript" charset="utf-8"></script>

        
    </body>
</html>