<html>
    <link href="/mobile/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Egyptian Rat Screw</title>
    </head>
    <body>
        <div id="syncStep">
            <form>Enter a name<br>
                <input id="name" type="text" name="name"><br>
            </form>
            <button id="sync" type="button">Sync</button>
        </div>
        <div id="startStep">
            <button id="start" type="button">Start</button>
        </div>
        <canvas id="gameCanvas" width="900" width="1600" ></canvas>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
        <script src="/lib/hammer.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="/mobile/js/model/Card.js" type="text/javascript" charset="utf-8"></script>
        <script src="/mobile/js/model/Hand.js" type="text/javascript" charset="utf-8"></script>
        <script src="/mobile/js/view/Render.js" type="text/javascript" charset="utf-8"></script>
        <script src="/mobile/js/controller/Main.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>