<html>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Egyptian Rat Screw</title>
    </head>
    <body>
        <canvas id="gameCanvas" width="1600" width="900"></canvas>
        
        <script type='text/javascript' src="//wurfl.io/wurfl.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/js/hand.js" type="text/javascript" charset="utf-8"></script>
        <script>
            var socket = io();
        </script>
    </body>
</html>